.trip-header-container{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.chat-row-container{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.close-button{
    height: 30px;
    width: 30px;
    background-color: orange;
    color: #ffffff;
    border-radius: 50%;
    font-size: 0;
}

.close-button:hover{
  height: 50%;
  width: 80px;
  background-color: orange;
  color: #ffffff;
  border-radius: 15px;
  font-size: 20px;
}

.link{
    color: inherit;
    text-decoration: none;
}

.popup-modify-header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: slateblue;
  text-decoration: underline;
}

.popup-overlay-trip {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popup-content-trip {
    background: white;
    padding: 30px;
    width: 90%;
    height: 90%;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4EDDA;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 50%;
    font-weight: bolder;
    background-color: red;
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.clost_aisearch{
  height: 10px;
  width: 10px;
  background-color: red;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.popup-row-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; 
}

.create-trip-request-form{
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F0F4F8;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.trip-image-container{
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F4F8;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  padding: 20px;
}

.trip-image-header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: khaki;
  margin-bottom: 30px;
}

.request-submit-button-trip{
    height: 50px;
    width: 18%;
    background-color: #79c5c7;
    color: #ffffff;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    align-self: center;
}

.request-submit-button-trip:hover{
  background-color: royalblue;
}

.trip-header{
  font-family: Cursive;
  font-weight: bold;
  color: maroon;
}


.image-indicator{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding:0 20px;
  border-radius: 15px;
}

.trip-image{
  background-color: brown;
  height:400px;
  width: 700px;
  background:fixed;
  border-radius: 15px;
}

.nav-button{
  height: 50px;
  width: 50px;
  background-color: #F0F4F8;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-button:hover{
  background-color: darksalmon;
}

.chat-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.chat-input-form {
  width: 100%;
  display: flex;
}

.chat-input {
  height: 100%;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: maroon;
  font-weight: 600;
  border: none;
  padding-left: 5px;
}

.chat-input:hover{
  background-color: cornsilk;
}

.chat-submit-button {
  height: 80%;
  width: 20%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
}

.chat-submit-button:hover {
  background-color: #0056b3;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  background-color: #f1f1f1;
  width:120px;
  height: 20px;
  border-radius: 20px;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  height: 18px; 
  width: 18px; 
  left: 1px; 
  background-color: #303030;
  border-radius: 50%; 
  transition: 0.3s ease all; 
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

input:checked[type="checkbox"]::before {
  background-color: blue;
  left: calc(100% - 19px);
}

.ai-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:50%;
  width: 150px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: cornflowerblue;
  font-weight: bold;
}



.trip-table-row {
  background-color: #EFEFEF; 
  border-radius: 10px; 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); 
  margin: 8px 0; 
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out; 
}


.trip-table-row:hover {
  background-color: #D1E8E2;
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); 
}

.trip-table th {
  background-color: darkgray; 
  color: maroon;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #E2B5B0;
  color: #2C3E50; 
  font-weight: bold;
}


.trip-table td {
  padding: 12px;
  text-align: left;
  color: #2C3E50;
}


.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1ABC9C; 
  font-size: 16px;
}

.delete-button:hover {
  color: #16A085; 
}


.trip-table {
  border-collapse: separate;
  border-spacing: 0 10px; 
  width: 100%;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination-button {
  width: 50px;
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
