.employee-container{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav-container{
    height:70px;
    width: 100%;
    background-color: #f7f7f8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #000000;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.employee-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-button{
    height:40px;
    width: 100px;
    background-color: #E74C3C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}

.logout-button:hover {
    background-color: #C0392B;
}

.create-trip{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.request-button{
    height: 40px;
    width: auto;
    border-radius: 50%;
    background-color:pink;
    color: #ffffff;
    cursor: pointer;
    font-size: 0;
}


.request-button:hover{
    height: 40px;
    width: auto;
    border-radius: 10px;
    background-color:pink;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    margin-right: 50px; 
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

/* .request-button:hover{
    background-color: #2980B9;
    color: black;
    border: 1px solid black;
} */

.admin-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 5px;
}

.header-admin{
    width: 100%;
    height: 100%; 
    font-family: 'Poppins';
    font-weight: bold;
}

.dashboard-container{
    height: 930px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.graph1-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.graph2-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.overview-container{
    height: 100%;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    margin-left: 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.overviewData-container{
    height: 50px;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-left: 35px;
    font-weight: normal;
    border: 1px solid darkgray;
    border-top: none;
    border-left: none;
    border-right: none;
}

.data{
    font-family:'Helvetica Neue';
    font-weight: normal;
    font-size: 22px;
}

.data-dark{
    font-weight: bold;
}

.graph-container{
    height: 100%;
    width: 1500px;
    background-color: #ffffff;
    margin-left: 40px;
    border-radius: 15px;
    padding: 15px;
}

.row-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linear-chart{
    height: 100%;
    width: 60%;
}

.pie-chart{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employee-chart-container{
    height: 95%;
    width: 50%;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 20px;
}

.containers-data{
    background-color: aqua;
}

.employee-trip-table{
    margin-top: 20px;
    height: 90%;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}